<div class="chat_top">
  <div class="chat_left">
    <div class="chat_tittle">hogefuga</div>
  </div>

  <div class="chat_right">
    <div class="chat_end">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>

<div class="chat_main">
  <%# <div class="messages">
    <div class="upper_message">
      <div class="message_user">Tom</div>
      <div class="message_date">2020/3/31(Wed) 12:43:30</div> 
    </div>
    <div class="lower-message">
      <div class="message_text">おはよう</div>
    </div>
  </div> %>
    <div class="message">
    <div class="upper-message">
      <div class="message-user">
        Tom
      </div>
      <div class="message-date">
        2020/3/31(Wed) 12:43:30
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        おはよう
      </div>
    </div>
  </div>

  <div class="message">
    <div class="upper-message">
      <div class="message-user">
        Tom
      </div>
      <div class="message-date">
        2020/3/31(Wed) 12:47:30
      </div>
    </div>
    <div class="lower-message">
      <div class="message-content">
        こんばんは
      </div>
    </div>
  </div>
</div>

<div class="chat_comment">
  <div class="form-input">
    <input class="form-message" placeholder= "type a message">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input class="form-submit" type="submit" value="送信">
</div>
 
