.wrapper{
  display: flex;
}

.side_bar{
  height: 100vh;
  width: 300px;
  background-color: #253141;
}

.side_top{
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #253141;
}

.name a{
  font-size: 16px;
  color: #FAFAFA;
  /* margin-left: 20px; */
  text-decoration: none;
}

.make_chat a{
  font-size: 10px;
  color: deepskyblue;
  border: 1px solid lightblue;
  padding: 14px;
  /* margin-right: 20px; */
  text-decoration: none;
}

.side-bar{
  background-color: #253141;
  width: 300px;
  height: 100vh;
}


.side_main{
  height: calc(100vh - 100px);
  background-color: #2F3E51;
  padding: 0 20px;
  overflow: scroll;
}

.rooms{
  padding: 20px 0 40px;
}

.room-name a{
  color: white;
  text-decoration: none;
}

.room {
  margin: 20px 0 40px;
}



.chat_screen{
  width: calc(100% - 300px);
  background-color: #ffffff;
}

.chat_top{
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.chat_tittle{
  font-size: 24px;
  color: #333;
  margin-top: 36px;
}

.chat_end{
  margin-top: 40px;
}

.chat_end a{
  border: 1px solid darkred;
  color: darkred;
  padding: 20px;
  text-decoration: none;
}


.chat_main{
  height: calc(100vh - 100px - 90px);
  background-color: #FAFAFA;
  padding: 46px 40px 0;
  overflow: scroll;
}

/* .messages{
  margin: 10px 0 0 0;
}

.upper_message{
  display: flex;
}

.message_user{
  font-size: 16px;
  color: #434A54;
}

.message_date{
font-size: 12px;
color: #999;
padding-left: 10px;
}

.lower-message{
  margin-bottom: 10px;
}

.message_text{
  font-size: 14px;
  color: #434A54;
  margin-bottom: 40px;
} */

.message {
  margin: 10px 0 0 0;
}

.upper-message{
  display: flex;
}

.message-user {
  color: #434a54;
  font-size: 16px;
}

.message-date {
  color: #999;
  font-size: 12px;
  padding-left: 10px;
}

.lower-message {
  margin-top: 10px;
}

.message-content {
  color: #434a54;
  font-size: 14px;
  margin-bottom: 40px;
}


.chat_comment{
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  display: flex;
  width: 100%;
}

.form-message {
  border: none;
  height: 50px;
  width: 100%;
  padding-left: 10px;
}

.form-submit {
  background-color: #38AEF0;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}

.form {
  background-color: #DDDDDD;
  height: 90px;
  padding: 20px 40px;
  display: flex;
  box-sizing: border-box;
}